<div class="container bg-light p-4">
  <div class="row">
    <div class="col-7 m-auto">
      <h1 class="text-center">Cadastro de Alunos</h1>
      <form>
        <div class="mb-3">
          <label for="matricula" class="form-label">Matricula:</label>
          <input type="text" class="form-control" id="matricula" />
        </div>
        <div class="mb-3">
          <label for="nome" class="form-label">Nome:</label>
          <input type="text" class="form-control" id="nome" />
        </div>
        <div class="mb-3">
          <label for="curso" class="form-label">Curso:</label>
          <input type="text" class="form-control" id="curso" />
        </div>
        <button class="btn btn-primary">Salvar</button>
      </form>
    </div>
  </div>
</div>
